
<footer class="footer">
    <div class="container">
        <p>Mongoose | New York Post Edition | Powered By <a href="https://github.com/zanyssii" target="_blank">Inna Atamanova</a></p>
    </div>
</footer>